p{
    font-family: Roboto ,Arial;
    margin-top: 0;
    margin-bottom: 0;
    }
body{
    font-family: Roboto,Arial;
    background-color: rgb(249, 248, 248);
    padding-right: 24px;
    padding-left: 96px;
    padding-top: 80px;
    margin: 0;
}