.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 70px;
    z-index: 200;
    padding-top: 5px;
    cursor: pointer;
}
.sidebar-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 76px;
    margin-bottom: 1px;
}
.sidebar-link:hover{
    background-color: rgb(236, 236, 236);
}
.sidebar-link img{
    height: 24px;
    display: flex;
}
.sidebar-link div{
    margin-top: 5px;
    font-size: 10px;
}