
        .thumbnail{
            width: 100%;
        }
        .video-title{
            margin-top: 0;
            font-size: 14px;
            font-weight:500;
            line-height: 20px;
            margin-bottom: 10px;
        }
        .video-desc, .video-time{
            font-size: 12px;
            margin-bottom: 4px;
        }
        .video-info-grid{
            display: grid;
            grid-template-columns: 50px 1fr;
        }


        .profile-picture{
            width: 36px;
            border-radius: 50px;
        }
        .thumbnail-row{
            z-index: 0;
            position: relative;
            margin-bottom: 10px;
        }
        .video-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 16px;
            row-gap: 40px;
        }
@media (max-width: 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 751px) and (max-width: 999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

        .video-duration{
            font-size: 12px;
            font-weight: 500px;
            padding: 4px 3px;
            border-radius: 2px;
            bottom: 8px;
            right: 5px;
            position: absolute;
            background-color: black;
            color: white;
        }